@import "./_variables";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $body-text-c;
  font-size: 16px;
  line-height: 1.4;
  font-family: $body-font;
  background-color: $body-bg-c;
}

@import "../components/Loader";
@import "../components/Message";
@import "../components/Chatlog";
