$white: #fff !default;
$grey-light: #ddd !default;
$grey: #a2a2a2 !default;
$grey-dark: #888 !default;

$body-text-c: #333 !default;
$body-bg-c:#74b9ff !default;
$body-font: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

$tooltip-bg-c: #0984e3 !default;

$border-default: 2px solid $grey-dark!default;